<h1>{{team.team_name}} Home</h1>
{{#each team.events as |event|}}
  <div>
    <h4>{{format_date event.event_date}}</h4>
    <div>
      <p>{{format_time event.event_date}}: {{event.event_name}}</p>
    </div>
  </div>
{{/each}}

{{#each team.announcements as |announcement|}}
  <div>
    <h3>{{announcement.title}}</h3>
    <h5>{{format_date announcement.date_created}}</h5>
    <div>
      <p>{{announcement.message}}</p>
    </div>
  </div>
{{/each}}