<h1>{{team.team_name}} Homepage</h1>

<h1 class="mt-3 mb-3">Team Roster</h1>

<table class='table mt-3 mb-3'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>First</th>
      <th scope='col'>Last</th>
      <th scope='col'>Role</th>
      {{#if is_coach}}
      <th scope="col">Remove From Team</th>
      {{/if}}    
    </tr>
  </thead>
    <tbody>
      <form class="remove-from-team-form">
      {{#each coaches as |coach|}}
        <tr>
          <td class="capitalize" scope='row'>{{coach.user.first_name}}</td>
          <td class="capitalize">{{coach.user.last_name}}</td>
          <td class="capitalize">Coach</td>
          {{#if ../is_coach}}
          <td><button type="submit" class="btn btn-danger" data-user-id="{{coach.user.id}}" data-user-role-id="{{coach.id}}" data-team-id="{{../team.id}}">Remove</button></td>
          {{/if}}
        </tr>
      {{/each}}
      
      {{#each players as |player|}}
        <tr>
          <td class="capitalize" scope='row'>{{player.user.first_name}}</td>
          <td class="capitalize">{{player.user.last_name}}</td>
          <td class="capitalize">Player</td>
          {{#if ../is_coach}}
          <td><button type="submit" class="btn btn-danger" data-user-id="{{player.user.id}}" data-user-role-id="{{player.id}}" data-team-id="{{../team.id}}">Remove</button></td>
          {{/if}}
        </tr>
      {{/each}}
      </form>
    </tbody>
</table>

{{#if is_coach}}
<h2>Add a player to the roster</h2>
<form class="new-team-player-form">
  <td>
      <select id="get-user" class="capitalize" name='get-user' data-player-value="{{player_role_id}}">
        <option class="capitalize" value=''>Choose a player</option>
        {{#each users as |user|}}
        <option class="capitalize option" value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
        {{/each}}      
      </select>
  </td>
  <td>
    <input type='submit' value='Submit' class='btn btn-primary btn-sm' data-user="{{player_role_id}}"/>
  </td>
</form>
{{/if}}

<div class='container'>
  <div class='row'>
    <div class='col-sm'>
      <h4>Events</h4>
      {{#if is_coach_or_admin}}
        <form class='form new-event-form col-6' data-team-id="{{team.id}}">
          <div class='form-group'>
            <label class='' for='event-name'>Event Name:</label>
            <input class='form-control' type='text' id='event-name' name='event-name' />
          </div>
          <div class='form-group'>
            <label class='' for='event-date'>Event Date:</label>
            <input class='form-control' type='date' id='event-date' name='event-date' />
          </div>
          <div class='form-group'>
            <label class='' for='event-time'>Event Time:</label>
            <input class='form-control' type='time' id='event-time' name='event-time' />
          </div>
          <div class='form-group'>
            <button type='submit' class='btn btn-primary'>Create</button>
          </div>
        </form>
      {{/if}}
      <div class='list-group'>
        {{#each team.events as |event|}}
    <div class="d-flex w-100 justify-content-between card">
      <h5 class="mb-1">{{event.event_name}}</h5>
      <div class="mb-1">
        <ul>
          <li><b>Date:</b>{{format_date event.event_date}}</li>
          <li><b>Time:</b>{{format_time event.event_date}}</li>
        </ul>
      </div>
    </div>
        {{/each}}
      </div>
    </div>
    <div class='col-sm'>
      <h4>Announcements</h4>
      {{#if is_coach_or_admin}}
        <form class='form new-announcement-form col-6' data-team-id="{{team.id}}">
          <div class='form-group'>
            <label class='' for='announcement-title'>Announcement Title:</label>
            <input class='form-control' type='text' id='announcement-title' name='announcement-title' />
          </div>
          <div class='form-group'>
            <label class='' for='announcement-message'>Announcement Message:</label>
            <input class='form-control' type='text' id='announcement-message' name='announcement-message' />
          </div>
          <div class='form-group'>
            <button type='submit' class='btn btn-primary'>Create</button>
          </div>
        </form>
      {{/if}}
      <div class="list-group">
      {{#each team.announcements as |announcement|}}
      <div class="card">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{announcement.title}}</h5>
          <small>{{format_date announcement.date_created}}</small>
        </div>
        <p class="mb-1">{{announcement.message}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<br><br>
{{#if is_admin}}
<button class="mb-5 btn btn-lg btn-danger delete-team-button" data-team-id="{{team.id}}">Delete Team</button>
<br><br>
{{/if}}

<script src="/js/team.js"></script>